/* 

#435C49
#8C909B
#2E685A
#5D7578
#C37930
*/

html, body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    max-width: 100%;
}

h1 > span {
    color: #D29121;
}

nav > .nav--bar{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #2826209d;
    color: white;
    z-index: 2;
}

nav > .carousel {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    
}

nav > .carousel > img{
    position: absolute;
    left: -50%;
    height: 100vh;
    transition: transform 1s ease-in-out;
    transform: translateX(-50%);
}

.company--moto {
    position: relative;
    top: 15vh;
    left: calc(1rem+100vw);
    width: 60vw;
    margin-top: 2vw;
    padding: 2rem;
    border-radius: 2px;
}

.company--moto h1 {
    font-size: 36px;
    letter-spacing: 2px;
     margin: 0;
}

.company--moto p {
    color: white;
    margin: 2rem 0;
    font-size: 22px;
    letter-spacing: 1px;
}

.learn--more--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    background-color: #2E685A;
    border: none;
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.learn--more--button ion-icon {
    transform: scale(1.2);
    padding: 0 1rem 0 2rem;
}

.learn--more--button ion-icon.hidden {
    display: none;
}

.learn--more--button:hover {
    background-color: #8C909B;
    cursor: pointer;
}

.learn--more--button a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.company--moto>p>span {
    color: #D29121;
}

.links {
    display: flex;
    gap: 2rem;
}

.links>ion-icon {
    transform: scale(1.7);
}

.links>ion-icon:hover {
    transform: scale(1.75);
    cursor: pointer;
}

.sidebar {
    position: fixed;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: #9A907E;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 3;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 60vh;
    justify-content: space-evenly;
}

.sidebar ul li {
    border-bottom: 2px rgba(0, 0, 0, 0.151) solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    padding-right: 2rem;
}

.sidebar ion-icon {
    margin-left: 2rem;
    transform: scale(1.7);
}

.sidebar.hidden {
    right: 0;
}

.sidebar li:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.ready--to--start {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5D7578;
    bottom: -10%;
    padding: 3rem 1rem 0 1rem;
}

.ready--to--start > .start--card {
    display: flex;
    flex-direction: column;
    margin: 2rem 0px;
    background-color: #070707;
    border-radius: 6px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.144);
}

.ready--to--start ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

.read--to--start--prompts {
    color: white;
    font-size: 24px;
}

.read--to--start--prompts > ion-icon {
    transform: scale(1.6);
    margin-right: 15px;
}

.start--card img {
    width: 95vw;
    border-radius: 6px 6px 0px 0px;
}

.start--card > span {
    margin: 1rem;
}

.start--card h1 {
    color: white;
    letter-spacing: 2px;
}

.start--card h1 span {
    color: #435C49;
}

.start--card p {
    color: white;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin: 2rem 0;
}

.fav--trips {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #5D7578;
    padding: 2rem;
}

.fav--trips--para, .fav--trips--title {
    margin: 0 2rem;
}

.fav--trips--title {
    font-size: 36px;
    margin-bottom: 1rem;
}

.fav--trips--para {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.trip--cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 2rem 0;
}

.trip--card {
    display: inline-block;
    position: relative;
    width: 80vw;
    background-color: #415154;
    border-radius: 6px;
    flex-shrink: 0;
}

.trip--card > span {
    display: inline-block;
    padding: 1rem;
}

.trip--card img {
    width: 80vw;
    border-radius: 6px 6px 0px 0px;
    
}

.trip--card h1 {
    font-size: 36px;
    margin: 8px 0;
    color: white;
    margin-top: 0;
    letter-spacing: 2px;
}

.trip--card p {
    font-size: 18px;
    color: white;
    margin: 2rem 0;
    letter-spacing: 1.5px;
}

.trip--card .trip--price {
    font-size: 22px;
    line-height: 2rem;
    margin: 8px 0;
}

.trip--card button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 2rem;
    transition: transform 1s ease-in-out;
    text-align: center;
    background-color: #C37930;
}

.color--blend--1 {
    margin-top: -5px;
    background-image: url(./Images/border.png);
    height: 6rem;
}

.our--team {
    margin-top: -12px;
    padding: 1rem 2rem;
    background-color: white;
    z-index: 2;
}

.our--team h1 {
    font-size: 36px;
    letter-spacing: 2px;
    margin-top: -10px;
}

.our--team p {
    color: #070707;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.our--team p > span {
    color: #C37930;
    font-weight: 500;
}

.team--member {
    display: inline-block;
    background-color: #8C909B;
    width: 80vw;
    border-radius: 6px;
}

.team--member img {
    width: 80vw;
    border-radius: 6px 6px 0px 0px;
}

.team--member div {
    width: 80vw;
    height: 30vh;
    overflow: hidden;
}

.team--members {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.team--member span > p,a {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}

.team--member span h1, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.team--member ion-icon {
    flex-shrink: 0;
    transform: scale(2);
    margin-right: 1rem;
}

.team--member a {
    display: block;    
}

.team--member p {
    color: white;
}

.team--member span {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}

.color--blend--2 {
    position: relative;
    margin-top: -1rem;
    background-image: url(./Images/border.png);
    transform: rotate(180deg);
    height: 6rem;
    z-index: -1;
}

.testimonial--cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

.customer--testimonials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #5D7578;
    margin-top: -2.5rem;
    padding: 1rem 2rem;
}

.customer--testimonials h1 {
    letter-spacing: 2px;
    font-size: 22px;
    padding-top: 2rem;
}

.customer--testimonials p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 16px;
    color: black;
}

.testimonial--card {
    display: inline-block;
    position: relative;
    width: calc(80vw - 2rem);
    height: 40vh;
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
    flex-shrink: 0;
}

.testimonial--card h1 {
    position: absolute;
    bottom: 0;
}

.color--blend--3 {
    margin-top: -3px;
    position: relative;
    background-image: url(./Images/border.png);
    height: 6rem;
    z-index: -1;
}

.blog--post {
    margin-top: -3rem;
    background-color: white;
    padding: 0 2rem;
}

.blog--post h1 {
    font-size: 36px;
    letter-spacing: 2px;
    padding-top: 2rem;
}

.blog--post--card {
    display: flex;
    flex-direction: column;
}

.blog--post--card span {
    margin-top: 2rem;
    position: relative;
    width: calc(100vw-4rem);
}

.blog--post--1 {
    position: absolute;
    right: 5%;
    top: 20%;
    width: 30vw;
    border-radius: 6px;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.13);
}

.blog--post--2 {
    width: 70vw;
    border-radius: 6px;
}

.blog--post h1 {
    font-size: 24px;
    margin-bottom: 0;
}

.blog--post .author {
    font-size: 18px;
}

.blog--post p {
    color: black;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin: 2rem 0;
}

.blog--post button {
    align-self: flex-start;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .nav--bar {
        height: 7vh;
    }
    .nav--bar ion-icon {
        transform: scale(3);
    }
    .nav--bar .links {
        gap: 3rem;
    }

    .sidebar {
        width: 40vw;

    }

    .ready--to--start ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin: 4rem 0;
    }
    .ready--to--start ul li {
        font-size: 26px;
    }

    .start--card {
        width: 70vw;

    }

    .start--card img {
        width: 70vw;
    }

    .start--card h1 {
        font-size: 48px;
    }

    .start--card p {
        font-size: 28px;
        letter-spacing: 2px;
        line-height: 2rem;
    }

    .start--card span {
        padding: 2rem;
    }

    .company--moto {
        left: 10%;
    }

    .company--moto h1 {
        font-size: 48px;
        margin-bottom: 0;
    }

    .company--moto p {
        font-size: 28px;
        margin: 3rem 0;
    }

    .learn--more--button {
        padding: 1rem 2rem;
    }

    .learn--more--button a {
        font-size: 28px;
    }

    .fav--trips--title {
        font-size: 48px;
        margin-top: 6rem;
    }
    .fav--trips--para {
        font-size: 28px;
        margin-bottom: 6rem;
    }

    .trip--cards {
        width: 70vw;
    }

    .trip--card {
        width: 70vw;
        margin-bottom: 4rem;
    }

    .trip--card img {
        width: 70vw;
    }

    .trip--card h1 {
        font-size: 48px;
    }

    .trip--card p {
        font-size: 28px;
    }

    .trip--card button {
        margin-top: 3rem;
    }

    .trip--card span {
        padding: 3rem;
    }

    .our--team {
        padding: 4rem;
    }

    .our--team h1 {
        font-size: 48px;
        
    }

    .our--team p {
        font-size: 28px;
        margin-bottom: 4rem;
        line-height: 2rem;
    }

    .team--member {
        width: 60vw;
    }

    .team--member img {
        width: 60vw;
    }

    .team--member a {
        font-size: 28px;
        margin-bottom: 2rem;
    }

    div.team--member p {
        margin-bottom: 2rem;
    }

    .customer--testimonials {
        padding: 0 4rem;
        margin-top: -5px;
    }

    .customer--testimonials h1 {
        font-size: 48px;
        margin: 4 0rem;
    }

    .testimonial--card {
        width: 60vw;
        padding: 2rem;
    }
    .testimonial--card p {
        font-size: 28px;
        letter-spacing: 3px;
        line-height: 2rem;
    }

    .blog--post {
        margin-top: -4rem;
        padding: 0 4rem;
    }

    .blog--post h1 {
        font-size: 48px;
        padding: 4rem 0;
    }
    .blog--post--card h1 {
        padding-bottom: 0;
    }
    .blog--post .author {
        font-size: 28px;
        padding-top: 2rem;
    }
    .blog--post--card p {
        font-size: 32px;
        letter-spacing: 4px;
        line-height: 2rem;
        margin: 3rem 0;
    }

}

@media screen and (min-width: 947px) {
    nav > .carousel > img{
        position: absolute;
        left: 0;
        height: auto;
        width: 100vw;
        transition: transform 1s ease-in-out;
        transform: translateX(-50%);
    }

    .sidebar {
        width: 15rem;
    }

}