//- <!DOCTYPE html>
//- <html lang="en">
//-   <head>
//-     <meta charset="UTF-8" />
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
//-     <title>Document</title>
//-   </head>
//-   <body>
//-     <h1>This is the contact page!</h1>
//-     <a href="/overview">overview</a>
//-     <a href="/register">register</a>
//-   </body>
//- </html>

extends template.pug
block content
  h1 This is the contact page!
  a(href='/overview') Overview 
  a(href='/register') Register 