<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
    <link rel="stylesheet" href="/evening.css" />
    <script src="/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/contact">Contact</a>
        <a href="/register">register</a>
      </nav>
      <img src="./images/evening.jpg" alt="" />
    </header>
    <article class="article--1">
      <h1 class="h1--header">This is a section</h1>
      <p class="p--header">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        laudantium, voluptatem odio ipsum perspiciatis.
      </p>
    </article>
    <article class="article--2">
      <h1 class="h1--header">This is a section</h1>
      <p class="p--header">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        laudantium, voluptatem odio ipsum perspiciatis.
      </p>
      <section class="card--box">
        <div class="card--2">
          <img src="" alt="" />
          <section>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
              quidem exercitationem.
            </p>
            <p>Name</p>
          </section>
        </div>
        <div class="card--2">
          <img src="" alt="" />
          <section>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
              quidem exercitationem.
            </p>
            <p class="author">Name</p>
          </section>
        </div>
        <div class="card--2">
          <img src="" alt="" />
          <section>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
              quidem exercitationem.
            </p>
            <p class="author">Name</p>
          </section>
        </div>
        <div class="card--2">
          <img src="" alt="" />
          <section>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
              quidem exercitationem.
            </p>
            <p class="author">Name</p>
          </section>
        </div>
        <div class="card--2">
          <img src="" alt="" />
          <section>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
              quidem exercitationem.
            </p>
            <p class="author">Name</p>
          </section>
        </div>
      </section>
    </article>
    <footer>
      <div>
        <a href="/contact">Register</a>
        <a href="/register">Contact</a>
      </div>
      <p class=".author">Copyright&copy Gavin Oiamo 2024</p>
    </footer>
  </body>
</html>
