extends ../mainPageTemplate.pug 

block title  
 title morning
block stylesheets
  link(rel="stylesheet", href=`/morning.css`)
  link(rel="stylesheet", href="/evening.css")
block scripts 
  script(src=`/script.js`) 
block timeGreeting 
  .time= time
  .greeting= greeting
block img
  img(src=`/morning.jpg`, alt="", srcset="")