.article--1 {
  background-color: #39371a;
  color: black;
}

.article--2 {
  background-color: white;
  color: black;
}

.card--2 {
  background-color: #8d601b;
}

footer {
  background-color: #8d601b;
}
