*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  overflow-x: hidden;
}

header {
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

nav {
  align-items: center;
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: calc(100vw - 2rem);
  margin-top: 2rem;
}

nav > a,
.greeting,
.time {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 1;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  transform: translateX(0);
}

header > img {
  width: 100vw;
  min-height: 100vh;
}

.article--1 {
  background-color: black;
}

.article--2 {
  background-color: #ead2a4;
}

.article--1,
.article--2 {
  margin-top: -1px;
  color: white;
  padding: 2rem 3rem;
  position: relative;
}

.article--2 > p,
.article--1 > p {
  position: relative;
}

.article--2 > p::before,
.article--1 > p::before {
  display: inline-block;
  content: "";
  height: 3px;
  width: 60vw;
  z-index: 2;
  position: absolute;
  bottom: -35%;
  left: -1rem;
  border-radius: 9999px;
}

.article--1 > p::before {
  background-color: white;
  bottom: 0;
}

.article--2 > p::before {
  background-color: #2f3231;
}

.card--box--2,
.card--box--1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  margin: 4rem 0;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: visible;
  gap: 2rem;
}

.card--2,
.card--1 {
  padding: 2rem;
  height: fit-content;
  width: 65vw;
  flex-shrink: 0;
  height: 65vw;
  background-color: #2f3231;
  scroll-snap-align: center;
}

.card--1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card--2 p {
  margin-bottom: 1rem;
}

.h1--header {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.p--header {
  font-size: 18px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3231;
  padding: 1rem;
  gap: 8px;
}

footer > div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

footer a {
  color: white;
}

@media (min-width: 768px) {
  nav > a {
    font-size: 36px;
  }
  .h1--header {
    font-size: 48px;
  }
  .p--header {
    font-size: 32px;
  }
  .article--1,
  .article--2 {
    padding: 4rem 8rem;
  }

  .article--2 > p::before {
    bottom: -20%;
    left: -10%;
  }

  .article--1 > p {
    padding-bottom: 4rem;
  }
  .card--box {
    margin: 6rem 0;
  }
  .author {
    display: absolute;
    bottom: 0%;
  }
  .card--2 p {
    font-size: 32px;
  }

  footer {
    padding: 2rem;
  }

  footer a,
  p {
    font-size: 24px;
  }
}

@media (min-width: 1023px) {
  header > img {
    margin-top: -60%;
  }
  nav > a {
    font-size: 24px;
  }
  .h1--header {
    font-size: 36px;
  }
  .p--header {
    font-size: 24px;
  }

  .article--2,
  .article--1 {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  .article--2 > p::before,
  .article--1 > p::before {
    width: 40vw;
    left: -5%;
  }

  .article--1 > p::before {
    bottom: 10%;
  }
  .article--2 > p::before {
    bottom: -40%;
  }

  .article--2 > p,
  .article--1 > p {
    position: absolute;
    width: 80vw;
    top: 20%;
    left: 10%;
  }

  .article--2 > h1,
  .article--1 > h1 {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .card--box--2,
  .card--box--1 {
    width: 70vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
  }

  .card--2,
  .card--1 {
    height: 40vh;
    flex-grow: 0;
    width: 20vw;
  }

  .author {
    display: absolute;
    bottom: 0%;
  }
  .card--2 p {
    font-size: 12px;
    letter-spacing: 1px;
  }

  footer {
    padding: 2rem;
  }

  footer a,
  p {
    font-size: 24px;
  }
}
