.article--1 {
  background-color: #1c242f;
}

.article--2 {
  background-color: white;
  color: black;
}

.card--2 {
  background-color: #0f2032;
  color: white;
}

footer {
  background-color: #0f2032;
  color: white;
}
