<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <script defer type="module" src="contact.js"></script>
    <link rel="stylesheet" href="contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/overview">Home</a>
      <a href="/register">Register</a>
    </nav>
    <form action="/contactform" method="post">
      <label for="f-name">First Name:</label>
      <input type="f-name" id="f-name" name="f-name" />
      <div></div>
      <label for="l-name">Last Name:</label>
      <input type="l-name" id="l-name" name="l-name" />
      <div></div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" />
      <div></div>
      <label for="description">Description:</label>
      <textarea name="description" id="description"></textarea>
      <div></div>
    </form>
    <button class="submit--button">Submit</button>
  </body>
</html>
