extends template.pug 
block stylesheets 
block content 
  header
    nav
      a(href='/contact') Contact
      block timeGreeting
      a(href='/about') About
      a(href='/register') register
    block img
  article.article--1
    h1.h1--header This is a section
    p.p--header
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      | laudantium, voluptatem odio ipsum perspiciatis.
  article.article--2
    h1.h1--header This is a section
    p.p--header
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      | laudantium, voluptatem odio ipsum perspiciatis.
    section.card--box--2
      .card--2
        img(src='' alt='')
        section
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. At
            | perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
            | quidem exercitationem.
          p Name
      .card--2
        img(src='' alt='')
        section
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. At
            | perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
            | quidem exercitationem.
          p.author Name
      .card--2
        img(src='' alt='')
        section
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. At
            | perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
            | quidem exercitationem.
          p.author Name
      .card--2
        img(src='' alt='')
        section
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. At
            | perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
            | quidem exercitationem.
          p.author Name
      .card--2
        img(src='' alt='')
        section
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. At
            | perspiciatis laborum temporibus vitae commodi ducimus voluptatem,
            | quidem exercitationem.
          p.author Name
  footer
    div
      a(href='/contact') Register
      a(href='/register') Contact
      a(href="/about") About  
    p.author Copyright&amp;copy Gavin Oiamo 2024
